@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Index</h1>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Aktif Tur Rotaları</h4>
            <p class="card-description">
                Aktif Tur <span>Rotalarımız</span>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Şehir</th>
                            <th>Süre</th>
                            <th>Kapasite</th>
                            <th>Fiyat</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DestinationID</td>
                                <td>@item.City</td>
                                <td>@item.DuringTime</td>
                                <td>@item.Capacity</td>
                                <td>@item.Price</td>
                                <td><a href="#" class="badge badge-danger">DETAYLAR</a></td>
                            </tr>
                        }         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
